.container
{
    background-color: #509799;
    height: 100vh;
    color: white;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    padding: 40px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1,h2,p
{
    text-align: center;
}
.form-control
{
    border: 2px solid #ffffff;
    background-color: #509799;
    color: rgba(255,255,255,0.6);
}
form
{
    margin-top: 30px;
}
.form-group
{
    margin-bottom: 1.5em;
}
.form-control::-webkit-input-placeholder {
    color: rgba(255,255,255,0.6);
  }
  .button-group
  {
    display: flex;
    justify-content: center;
  }
  .btn-primary
  {
      color:#509799 ;
      background-color: #ffffff;
      border-color: #509799;
      font-weight: bold;
      border-radius: 9px;
    padding: 10px 20px;
  }